<!DOCTYPE html>
<html>
    
<Link  rel = " stylesheet " href =" https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css " intégrité =" SHA384-MCw98 / SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO " crossorigin =" anonyme " >

<nav  class = " navbar navbar-expand-lg navbar-light bg-light " >
    <div  class = " container " >
        <a  class = " navbar-marque " href =" {% url 'project_index' %} " > RP Portefeuille </a>
        <button  class = " navbar-toggler " type = " button " data-toggle = " collapse " data-target = " #navbarSupportedContent " aria-controls = " navbarSupportedContent " aria- extended = " false " aria-label = " Toggle navigation " >
          <span  class = " navbar-toggler-icon " > </span >
        </bouton>

        <div  class = " collapse navbar-collapse " id = " navbarSupportedContent " >
          <ul  class = " navbar-nav mr-auto " >
            <li  class = " nav-item active " >
              <a  class = " nav-link " href =" {% url 'project_index' %} " > Accueil </a>
            </li >
            <li  class = " nav-item ">
              <a  class = " nav-link " href ="" > Blog </a>
            </li >
          </ul >
        </div>
    </div >
</nav >

<div  class = " container " >
    {% block page_content%} {% endblock%}
</div >

<Scénario  src = " https://code.jquery.com/jquery-3.3.1.slim.min.js " intégrité =" SHA384-Q8i / X + 965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH + 8abtTE1Pi6jizo " crossorigin =" anonyme " > </scénario >
<Scénario  src = " https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " intégrité =" SHA384-ZMP7rVo3mIykV + 2 + 9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK / l8WvCWPIPm49 " crossorigin = " anonyme " > </script >
<Scénario  src = " https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " intégrité =" SHA384-ChfqqxuZUCnJSK3 + MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW / JmZQ5stwEULTy " crossorigin =" anonyme " > </scénario >
</html>